footer
  background: #171717
  z-index: 0
  padding-top: 230px

  .button3
    background: #fff 
    opacity: 0.88 

  .button3:hover 
    opacity: 1         

  .footer-content
    overflow: hidden
    margin: 0 auto
    padding: 30px 50px
    position: relative

    @media (max-width: 100%)
      padding: 30px

  .footer-title
    // width: 580px
    font-family: $font-family-heading
    font-size: 36px
    font-style: normal
    font-weight: 700
    line-height: 1.2
    letter-spacing: 0px
    text-align: left
    color: #ffffff
    // float: left

    @media (max-width: 500px)
      margin-bottom: 15px
      text-align: center

  .footer-side
    margin-bottom: 30px
    // display: flex
    // align-items: center

    @media (min-width: 400px)
      display: flex
      align-items: center

      margin-bottom: 0

  .footer-flex
    // width: 1300px
    display: flex
    // margin: 30px 0px 0px 131px

  .footer-text
    color: rgba(150, 150, 150, 1)
    font-family: $font-family-body
    font-size: 16px
    font-style: normal
    font-weight: 400
    line-height: 25px
    letter-spacing: 0em

  .footer-text2
    color: #ffffff
    margin-left: 500px
    margin-top: 40px

  .powered-by
    color: #fff
    display: flex
    justify-content: flex-end
    align-items: center
    flex-direction: row
    margin-top: 30px

    @media (max-width: 500px)
      margin-top: 30px
      justify-content: center

    @media (min-width: 500px)
      margin-top: 30px
      margin-bottom: 30px
      justify-content: center

  .footer-text3
    margin-top: 0px
    padding: 10px
    font-size: 16px
    line-height: 21px
    letter-spacing: 0px
    text-align: left

  .footerlogo
    width: 140px
    height: 50px
    border-radius: 10px

  .footer-end
    font-family: $font-family-heading
    text-align: center
    font-weight: 700
    float: right
    color: #ABABAB
    font-size: 18px
    padding-top: 22px
    // margin-right: 80px
    // margin-top: 40px
  .footer-end img
    width: 140px
    margin-left: 10px
        

  .social-items
    // display: inline
    color: #ffffff
    // width: 36.83px
    // height: 27.27px
    // margin-left: 100px
    margin-top: 0px
    text-align: center
    @media (min-width: 400px)
      text-align: center

  


  .fab
    color: #000
    font-size: 30px
    margin: 0 50px 25px 0

    @media (max-width: 500px)
      margin: 12.5px

  .middle-post
    margin: 30px 0

  .button1
    width: 200px
    height: 56px
    font-size: 18px
    border-radius: 45px
    background-color: #333333
    color: #ffffff
    border: 1px solid #f95921
    margin-left: 20px

    &:hover
       background: linear-gradient(#f47f57, #fd5656)

  .twobuttons
    // float: right
    display: flex
    flex-wrap: wrap
    justify-content: flex-end
    margin-top: 25px

    @media (min-width: 500px)
      justify-content: center

    li
      // display: inline-block
      list-style: none

      @media (min-width: 500px)
        margin-bottom: 15px

      @media (max-width: 500px)
        // margin-bottom: 15px
        margin: auto
        text-align: center

  .button2
    width: 200px
    height: 56px
    font-family: $font-family-body
    border: 0
    font-style: normal
    font-weight: bold
    font-size: 18px
    margin-left: 50px
    border-radius: 45px
    color: #ffffff
    background: linear-gradient(#f47f57, #fd5656)

    @media (max-width: 400px)
      margin-left: 0

  #footer-gradient
    background: #212121
    background: radial-gradient(circle, rgba(84,41,41,1) 0%, #212121 50%)
    position: absolute
    top: 0
    opacity: 1
    left: calc(50% - 450px)
    right: 0
    height: 900px
    width: 900px
    z-index: -1