#section-title
  max-width: $max-width
  margin: 0 auto
  padding: 0 16px
  margin-bottom: 250px

  @media (max-width: 600px)
    margin-bottom: 160px
    margin-top: 180px
    .btn-space
      margin-left: 10px

  .main-title
    font-family: $font-family-heading
    font-style: normal
    font-weight: bold
    font-size: 64px
    line-height: 55px
    letter-spacing: 1px
    color: #000
    // text-shadow: 0 0 1px #fff
    -webkit-text-stroke: 1px #a1a1a1

    @media (max-width: 600px)
      font-size: 36px
      line-height: 44px
      margin-bottom: 8px

  .title-brand-name
    font-family: $font-family-heading
    font-size: 64px
    line-height: 100%
    color: #FB6257
    font-weight: bold
    @media (max-width: 600px)
      font-size: 42px
      line-height: 44px
      margin-bottom: 8px

  .title-head
    color: #ffffff
    margin: calc(128px + 72px) auto 0px
    text-align: center
    @media (max-width: 600px)
      font-size: 36px
      line-height: 44px
      margin-bottom: 8px

  .button-container
    display: flex
    justify-content: center
    margin-top: 40px
    width: 100%

  .title-down-text
    color: #A2A2A2
    // margin-left: 165px
    margin-top: 44px
    font-size: 18px
    font-family: $font-family-heading
    line-height: 21px
    display: flex
    max-width: 400px
    position: relative
    margin-bottom: 40px

    @media screen and (max-width: 600px)
      .title-down-text
        width: auto



  .line
    border: 2px solid rgba(216, 55, 71, 1)
    width: 1px
    display: flex
    position: absolute
    height: 100%
    margin-top: 0
    margin-bottom: 0

  .text-slide-right
    overflow: hidden
    width: 450px
    padding-left: 20px

    p
      animation: 3s text-slide-right
      margin-bottom: 0

  @keyframes text-slide-right
    from
      margin-left: -100%
      width: 100%

  to
      padding-left: 20px
      width: 100%


  .slogans
    position: relative
    min-height: 100px
    @media (max-width: 600px)
      min-height: 200px

    .slogan
      margin-bottom: 0
      font-size: 46px
      line-height: 55px
      font-weight: 700
      font-style: normal
      text-align: center
      font-family: $font-family-heading
      position: absolute
      top: 0
      opacity: 0
      width: 100%
      backface-visibility: hidden
      @media (max-width: 600px)
        font-size: 42px
        line-height: 44px

    .slogan1
      animation: slogan1 30s infinite

    .slogan2
      animation: slogan2 30s infinite

    .slogan3
      animation: slogan3 30s infinite

    .slogan4
      animation: slogan4 30s infinite

    .slogan5
      animation: slogan5 30s infinite

    .slogan6
      animation: slogan6 30s infinite

      @keyframes slogan1
        0%
          opacity: 0
          transform: rotateX(90deg) skewX(20deg)
        15%
          opacity: 1
          transform: rotateX(0) skewX(0)
        30%
          opacity: 0
          transform: rotateX(90deg) skewX(20deg)

      @keyframes slogan2
        15%
          opacity: 0
          transform: rotateX(90deg) skewX(20deg)
        30%
          opacity: 1
          transform: rotateX(0) skewX(0)
        45%
          opacity: 0
          transform: rotateX(90deg) skewX(20deg)

      @keyframes slogan3
        30%
          opacity: 0
          transform: rotateX(90deg) skewX(20deg)
        45%
          opacity: 1
          transform: rotateX(0) skewX(0)
        60%
          opacity: 0
          transform: rotateX(90deg) skewX(20deg)

      @keyframes slogan4
        45%
          opacity: 0
          transform: rotateX(90deg) skewX(20deg)
        60%
          opacity: 1
          transform: rotateX(0) skewX(0)
        75%
          opacity: 0
          transform: rotateX(90deg) skewX(20deg)

      @keyframes slogan5
        60%
          opacity: 0
          transform: rotateX(90deg) skewX(20deg)
        75%
          opacity: 1
          transform: rotateX(0) skewX(0)
        90%
          opacity: 0
          transform: rotateX(90deg) skewX(20deg)

      @keyframes slogan6
        75%
          opacity: 0
          transform: rotateX(90deg) skewX(20deg)
        90%
          opacity: 1
          transform: rotateX(0) skewX(0)
        100%
          opacity: 0
          transform: rotateX(90deg) skewX(20deg)

