#section-application
  width: 100%

  .planet-container
    height: 821px
    width: 100%
    background: url("../images/_section-application/Ecosystem-Desktop.svg")
    background-size: cover
    background-position: top

    @media (max-width: 600px)
      background: url("../images/_section-application/Ecosystem-Mobile.svg")
      height: 290px
      width: 100%
      background-size: cover
      background-position: top

  .title
    font-family: $font-family-heading
    font-style: normal
    font-weight: bold
    font-size: 42px
    line-height: 44px
    text-align: center
    color: #FFFFFF

    @media (max-width: 600px)
      padding: 0 16px
      font-size: 32px
      margin-bottom: 16px

  .subtitle
    font-family: $font-family-body
    font-style: normal
    font-weight: 300
    font-size: 18px
    line-height: 135%
    text-align: center
    color: rgba(255, 255, 255, 0.64)
    padding: 0 20px
    margin: 0 auto 80px auto
    width: 700px
    @media (max-width: 600px)
      padding: 0 16px
      width: 100%

