.wallet-option {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  padding: 10px 15px;
  max-width: 300px;
  width: 100%;
  cursor: pointer;
}

.wallet-option-selcted {
  background: #2a2827;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  padding: 10px 15px;
  max-width: 300px;
  width: 100%;
  cursor: pointer;
}

.wallet-option:hover {
  border: 1px solid rgba(255, 255, 255, 0.88);
  max-width: 300px;
  width: 100%;
  cursor: pointer;
}